.withdraw-history {
  .title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .line {
    display: flex;
    justify-content: space-between;
  }
  .box {
    display: flex;
    flex-direction: column;
    line-height: 2;
    flex: 1;
    .key {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
    }
    .value {
      white-space: nowrap;
    }
  }
}
