.wallet-wrapper {
  .summary-page {
    padding: 30px 20px 30px 20px;
    background: rgba(118, 209, 249, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    &::after {
      content: '';
      background-image: url('../../imgs/banner.png');
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-size: 140%;
      opacity: 0.8;
      background-repeat: no-repeat;
    }
    .title {
      margin-bottom: 20px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
    }
    .value {
      font-size: 25px;
      font-weight: bold;
      > span.unit {
        font-size: 14px;
        margin: 0 10px;
      }
    }
  }
  .tool-page {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 60px;
    .iconfont {
      font-size: 35px;
    }
    .tool-item {
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 1.5;
      color: rgb(118, 209, 249);
      flex: 1;
      &:active {
        transform: scale(0.9);
      }
    }
  }
  .asset-page {
    .asset-item {
      background: rgba(118, 209, 249, 0.1);
      padding: 10px 20px 10px;
      line-height: 2;
      border-bottom: 1px solid #1f2e39;
      &:active {
        background: rgba(118, 209, 249, 0.05);
      }
      .token {
        font-weight: bold;
      }
      .header {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
      }
      .value {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
      }
    }
  }
}
